In [80]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [70]:
boston = pd.read_csv('boston__1_.zip')
boston.head(5)

,crim_rate,zn,business,river,nit_oxiden,rooms,age,dist,highways_index,tax,pup_per_teaс,lower,target
0,"0,00632",18,"2,31",0,"0,538","6,575","65,2","4,09",1,296,"15,3","4,98",24
1,"0,02731",0,"7,07",0,"0,469","6,421","78,9","4,9671",2,242,"17,8","9,14","21,6"
2,"0,02729",0,"7,07",0,"0,469","7,185","61,1","4,9671",2,242,"17,8","4,03","34,7"
3,"0,03237",0,"2,18",0,"0,458","6,998","45,8","6,0622",3,222,"18,7","2,94","33,4"
4,"0,06905",0,"2,18",0,"0,458","7,147","54,2","6,0622",3,222,"18,7","5,33","36,2"

In [71]:
boston['crim_rate'] = boston['crim_rate'].str.replace(',', '.').astype(float)
boston['business'] = boston['business'].str.replace(',', '.').astype(float)
boston['nit_oxiden'] = boston['nit_oxiden'].str.replace(',', '.').astype(float)
boston['rooms'] = boston['rooms'].str.replace(',', '.').astype(float)
boston['zn'] = boston['zn'].str.replace(',', '.').astype(float)
boston['age'] = boston['age'].str.replace(',', '.').astype(float)
boston['dist'] = boston['dist'].str.replace(',', '.').astype(float)
boston['pup_per_teaс'] = boston['pup_per_teaс'].str.replace(',', '.').astype(float)
boston['lower'] = boston['lower'].str.replace(',', '.').astype(float)
boston['target'] = boston['target'].str.replace(',', '.').astype(float)

In [72]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   crim_rate       506 non-null    float64
 1   zn              506 non-null    float64
 2   business        506 non-null    float64
 3   river           506 non-null    int64
 4   nit_oxiden      506 non-null    float64
 5   rooms           506 non-null    float64
 6   age             506 non-null    float64
 7   dist            506 non-null    float64
 8   highways_index  506 non-null    int64
 9   tax             506 non-null    int64
 10  pup_per_teaс    506 non-null    float64
 11  lower           506 non-null    float64
 12  target          506 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 51.5 KB

In [74]:
X = boston.drop('target', axis=1)
y = boston['target']

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=13)

In [76]:
y_train.mean()

22.77316384180791

In [77]:
# Инициализация модели линейной регрессии
linear_regression_model = LinearRegression()

# Обучение модели на обучающих данных
linear_regression_model.fit(X_train, y_train)

# Прогнозы на тестовых данных
y_pred = linear_regression_model.predict(X_test)

# Вычисление MAE
mae = mean_absolute_error(y_test, y_pred)

# Вывод результата с округлением
print(round(mae, 2))

3.72

In [79]:
# Инициализация модели решающего дерева с аргументом random_state=13
decision_tree_model = DecisionTreeRegressor(random_state=13)

# Обучение модели на обучающих данных
decision_tree_model.fit(X_train, y_train)

# Прогнозы на тестовых данных
y_pred = decision_tree_model.predict(X_test)

# Вычисление MAE
mae = mean_absolute_error(y_test, y_pred)

# Вывод результата с округлением
print(round(mae, 2))

2.84

In [81]:
# Создание и обучение моделей случайного леса для каждого количества деревьев
n_estimators_list = [3, 10, 100, 500]
mae_list = []

for n_estimators in n_estimators_list:
    # Инициализация модели случайного леса
    random_forest_model = RandomForestRegressor(n_estimators=n_estimators, random_state=13)
    
    # Обучение модели на обучающих данных
    random_forest_model.fit(X_train, y_train)
    
    # Прогнозы на тестовых данных
    y_pred = random_forest_model.predict(X_test)
    
    # Вычисление MAE
    mae = mean_absolute_error(y_test, y_pred)
    mae_list.append(mae)

# Поиск минимального значения MAE
min_mae = min(mae_list)
print(round(min_mae, 2))

2.24