In [2]:
import pandas as pd
import numpy as np

In [15]:
l_1 = (3, 0)
l_2 = (1, -1)
o_1 = (-3, 0)
o_2 = (-2, 0)
o_3 = (-1, 0)
o_4 = (1, 0)
o_5 = (2, 0)

In [16]:
def efklid (x, y):
    return (x[0] - y[0]) **2 + (x[1] - y[1]) **2

In [17]:
L = [l_1, l_2]
O = [o_1, o_2, o_3, o_4, o_5]

In [18]:
def claster(L, O):
    efk = []
    for i in range(len(L)):
        ls = []
        for j in range(len(O)):
            ls.append(efklid(L[i], O[j]))
        efk.append(ls)
    return efk

column = ['o_1', 'o_2', 'o_3', 'o_4', 'o_5']
index = ['l_1', 'l_2']
df = pd.DataFrame(claster(L, O), index, column)
df

     o_1  o_2  o_3  o_4  o_5
l_1   36   25   16    4    1
l_2   17   10    5    1    2

In [25]:
0.8 * 0.4 / 0.86

0.372093023255814

In [23]:
new_l_1 = o_5
new_l_2 = ((o_1[0] + o_2[0] + o_3[0] + o_4[0]) / 4 , (o_1[1] + o_2[1] + o_3[1] + o_4[1]) / 4)
new_L = [new_l_1, new_l_2]
df_1 = pd.DataFrame(claster(new_L, O), index, column)
df_1

         o_1      o_2     o_3     o_4      o_5
l_1  25.0000  16.0000  9.0000  1.0000   0.0000
l_2   3.0625   0.5625  0.0625  5.0625  10.5625

In [24]:
new_L

[(2, 0), (-1.25, 0.0)]

In [2]:
a1 = np.array((5, 1))
a2 = np.array((4, 0))
b1 = np.array((-3, -3))
b2 = np.array((-2, -3))

In [5]:
dist = np.linalg.norm(a1 -b1) + np.linalg.norm(a1 -b2) + np.linalg.norm(a2 -b1) + np.linalg.norm(a2 -b2)
dist / 4

7.832626674165247

In [3]:
a = np.array((1, 4))
b = np.array((7, 12))
np.linalg.norm(a - b)

10.0