In [259]:
import pandas as pd
import numpy as np

solarpower_data = pd.read_csv('C:\VS Code/solarpower/solarpower.csv', sep=',')
display(solarpower_data.head(5))

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [260]:
solarpower_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       664 non-null    object
 1   cum_power  664 non-null    float64
dtypes: float64(1), object(1)
memory usage: 10.5+ KB

In [261]:
mask = solarpower_data['cum_power'] == -1
solarpower_data[mask].count()

date         2
cum_power    2
dtype: int64

In [262]:
solarpower_data[mask].index

Index([45, 647], dtype='int64')

In [263]:

#for i in range(40, 46):
#    print (solarpower_data.iloc[i]['cum_power'])
#    if solarpower_data.loc[i]['cum_power'] == -1.0:
#        print(5)
#        solarpower_data.loc[i]['cum_power'] = 6
#        print (solarpower_data.iloc[i]['cum_power'])
#    print (solarpower_data.iloc[i]['cum_power'])
#
#solarpower_data.iloc[45]['cum_power']

In [264]:
solarpower_data['cum_power'] = solarpower_data['cum_power'].apply ( lambda x: 23848 if x == -1.0 else x)
solarpower_data.iloc[45]['cum_power']

23848.0

In [265]:
solarpower_data.iloc[45]['cum_power']

23848.0

In [266]:
print(solarpower_data.iloc[44]['cum_power'])
print(solarpower_data.iloc[45]['cum_power'])
print(solarpower_data.iloc[46]['cum_power'])
a = (solarpower_data.iloc[44]['cum_power'] + solarpower_data.iloc[46]['cum_power']) / 2
print(a)

20248.0
23848.0
20262.0
20255.0

In [267]:
print(solarpower_data.iloc[646]['cum_power'])
print(solarpower_data.iloc[647]['cum_power'])
print(solarpower_data.iloc[648]['cum_power'])
b = (solarpower_data.iloc[646]['cum_power'] + solarpower_data.iloc[646]['cum_power']) / 2
print(b)

27986.0
23848.0
28010.0
27986.0

In [268]:
(solarpower_data['cum_power'].sum() + 2 + a + b) / 664

23920.06325301205

In [269]:
solarpower_data['date'] = pd.to_datetime(solarpower_data['date'])

In [270]:
solarpower_data.head()

        date  cum_power
0 2017-01-01    20111.0
1 2017-01-02    20112.0
2 2017-01-03    20115.0
3 2017-01-04    20117.0
4 2017-01-05    20119.0

In [271]:
solarpower_data['day_power'] = solarpower_data['cum_power'].diff()

In [272]:
solarpower_data.head()

        date  cum_power  day_power
0 2017-01-01    20111.0        NaN
1 2017-01-02    20112.0        1.0
2 2017-01-03    20115.0        3.0
3 2017-01-04    20117.0        2.0
4 2017-01-05    20119.0        2.0

In [273]:
solarpower_data["year_month"] = solarpower_data["date"].dt.to_period("M")

In [274]:
solarpower_data.head()

        date  cum_power  day_power year_month
0 2017-01-01    20111.0        NaN    2017-01
1 2017-01-02    20112.0        1.0    2017-01
2 2017-01-03    20115.0        3.0    2017-01
3 2017-01-04    20117.0        2.0    2017-01
4 2017-01-05    20119.0        2.0    2017-01

In [275]:
mask = solarpower_data['year_month'] == '2017-03'
solarpower_data[mask]['day_power'].mean()

10.774193548387096

In [280]:
mask = solarpower_data['year_month'] == '2017-01'
solarpower_data[mask].groupby(['day_power']).mean()

                         date     cum_power year_month
day_power
0.0       2017-01-31 00:00:00  20208.000000    2017-01
1.0       2017-01-10 20:00:00  20137.000000    2017-01
2.0       2017-01-13 13:20:00  20140.222222    2017-01
3.0       2017-01-13 12:00:00  20149.000000    2017-01
4.0       2017-01-21 08:00:00  20175.666667    2017-01
5.0       2017-01-20 12:00:00  20165.000000    2017-01
6.0       2017-01-16 18:00:00  20154.500000    2017-01
7.0       2017-01-26 00:00:00  20190.000000    2017-01

In [277]:
print(solarpower_data.iloc[45])

date          2017-02-15 00:00:00
cum_power                 23848.0
day_power                  3600.0
year_month                2017-02
Name: 45, dtype: object

In [278]:
import plotly
import plotly.graph_objs as go
import plotly.express as px
from plotly.subplots import make_subplots

import numpy as np
import pandas as pd

In [279]:
sns.histplot(data = resume_hh, x='Опыт работы (месяц)')

NameError: name 'resume_hh' is not defined

In [281]:
27/32

0.84375