In [24]:
import pandas as pd

bike_data = pd.read_csv('C:\VS Code\citibike-tripdata.csv', sep=',')
bike_df = bike_data.copy()
display(bike_df)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [25]:
bike_df.info

<bound method DataFrame.info of                        starttime                  stoptime  start station id
0       2018-09-01 00:00:05.2690  2018-09-01 00:27:20.6340             252.0  \
1       2018-09-01 00:00:11.2810  2018-09-01 00:02:23.4810             314.0
2       2018-09-01 00:00:20.6490  2018-09-01 00:55:58.5470            3142.0
3       2018-09-01 00:00:21.7460  2018-09-01 00:07:38.5830             308.0
4       2018-09-01 00:00:27.3150  2018-09-01 02:21:25.3080             345.0
...                          ...                       ...               ...
299995  2018-09-05 19:08:27.8460  2018-09-05 19:15:51.4940             494.0
299996  2018-09-05 19:08:28.3700  2018-09-05 19:20:01.5080            3016.0
299997  2018-09-05 19:08:27.5090  2018-09-05 19:13:40.5060            3686.0
299998  2018-09-05 19:08:29.2300  2018-09-05 20:04:29.3220             254.0
299999  2018-09-05 19:08:29.7110  2018-09-05 19:12:14.7620            3496.0

                     start station name  start station latitude
0          MacDougal St & Washington Sq               40.732264  \
1       Cadman Plaza West & Montague St               40.693830
2                       1 Ave & E 62 St               40.761227
3               St James Pl & Oliver St               40.713079
4                       W 13 St & 6 Ave               40.736494
...                                 ...                     ...
299995                  W 26 St & 8 Ave               40.747348
299996                Kent Ave & N 7 St               40.720368
299997        Gansevoort St & Hudson St               40.739448
299998                  W 11 St & 6 Ave               40.735324
299999                 1 Ave & E 110 St               40.792327

        start station longitude  end station id            end station name
0                    -73.998522           366.0    Clinton Ave & Myrtle Ave  \
1                    -73.990539          3242.0  Schermerhorn St & Court St
2                    -73.960940          3384.0             Smith St & 3 St
3                    -73.998512          3690.0         Park Pl & Church St
4                    -73.997044           380.0            W 4 St & 7 Ave S
...                         ...             ...                         ...
299995               -73.997236           448.0            W 37 St & 10 Ave
299996               -73.961651          3086.0   Graham Ave & Conselyea St
299997               -74.005070           168.0             W 18 St & 6 Ave
299998               -73.998004           499.0          Broadway & W 60 St
299999               -73.938300          3502.0    Lexington Ave & E 111 St

        end station latitude  end station longitude  bikeid    usertype
0                  40.693261             -73.968896   25577  Subscriber  \
1                  40.691029             -73.991834   34377  Subscriber
2                  40.678724             -73.995991   30496  Subscriber
3                  40.713342             -74.009355   28866  Subscriber
4                  40.734011             -74.002939   20943    Customer
...                      ...                    ...     ...         ...
299995             40.756604             -73.997901   19531  Subscriber
299996             40.715143             -73.944507   34020  Subscriber
299997             40.739713             -73.994564   33220  Subscriber
299998             40.769155             -73.981918   34744  Subscriber
299999             40.795412             -73.944123   18292  Subscriber

        birth year  gender
0             1980       1
1             1969       0
2             1975       1
3             1984       2
4             1994       1
...            ...     ...
299995        1990       2
299996        1982       1
299997        1991       1
299998        1975       0
299999        1966       1

[300000 rows x 14 columns]>

Сколько пропусков в столбце start station id?

In [26]:
bike_df['start station id'].count()

299831

Какой тип данных имеют столбцы starttime и stoptime?

In [27]:
bike_df['starttime'].dtype()

TypeError: 'numpy.dtype[object_]' object is not callable

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа

In [ ]:
bike_df['start station id'].value_counts()

start station id
281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: count, Length: 759, dtype: int64

Велосипед с каким идентификатором является самым популярным?

In [ ]:
bike_df['bikeid'].value_counts()

bikeid
33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: count, Length: 10004, dtype: int64

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов

In [ ]:
bike_df['usertype'].value_counts(normalize = True)

usertype
Subscriber    0.774007
Customer      0.225993
Name: proportion, dtype: float64

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [ ]:
bike_df['gender'].value_counts()

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

Выберите утверждения,которые соответствуют нашим данным:

In [ ]:
bike_df['start station id'].nunique()
bike_df['end station id'].nunique()

765

In [ ]:

bike_df['birth year'].max()

2002

In [ ]:
bike_df['start station name'].value_counts()

start station name
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: count, Length: 759, dtype: int64

In [ ]:
bike_df['end station name'].value_counts()

end station name
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: count, Length: 765, dtype: int64

В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [ ]:
bike_df.drop(['start station id', 'end station id'], axis=1, inplace= True)
display(bike_df)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [ ]:
bike_df['age'] = 2018 - bike_df['birth year']
bike_df.drop('birth year', axis=1, inplace=True)
display(bike_df)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52

In [ ]:
bike_df[bike_df['age'] > 60]

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
53,2018-09-01 00:04:20.9200,2018-09-01 00:11:21.6180,Grand Army Plaza & Central Park S,40.764397,-73.973715,Broadway & W 53 St,40.763441,-73.982681,24824,Subscriber,2,63
373,2018-09-01 00:25:47.6740,2018-09-01 00:39:31.7160,Mott St & Prince St,40.723180,-73.994800,Mott St & Prince St,40.723180,-73.994800,26083,Subscriber,2,68
405,2018-09-01 00:29:10.1630,2018-09-01 00:44:08.6110,Avenue D & E 3 St,40.720828,-73.977932,Avenue D & E 12 St,40.725806,-73.974225,33436,Subscriber,2,61
435,2018-09-01 00:31:21.7250,2018-09-01 00:41:57.9200,Broadway & W 56 St,40.765265,-73.981923,W 37 St & 10 Ave,40.756604,-73.997901,19894,Subscriber,2,63
457,2018-09-01 00:33:19.8080,2018-09-01 00:37:29.9270,Warren St & Court St,40.686371,-73.993833,Bond St & Bergen St,40.684967,-73.986208,34173,Subscriber,1,118
...,...,...,...,...,...,...,...,...,...,...,...,...
299882,2018-09-05 19:07:25.4010,2018-09-05 19:35:36.5000,Amsterdam Ave & W 66 St,40.774667,-73.984706,Cathedral Pkwy & Broadway,40.804213,-73.966991,16376,Subscriber,1,64
299883,2018-09-05 19:07:24.9130,2018-09-05 19:20:20.2760,W 4 St & 7 Ave S,40.734011,-74.002939,E 2 St & Avenue A,40.723077,-73.985836,29943,Subscriber,2,70
299946,2018-09-05 19:08:06.4620,2018-09-05 19:20:16.0180,Henry St & Grand St,40.714215,-73.981346,Lafayette St & E 8 St,40.730207,-73.991026,30951,Subscriber,1,71
299957,2018-09-05 19:08:12.5770,2018-09-05 19:42:24.0340,Market St & Cherry St,40.710762,-73.994004,Catherine St & Monroe St,40.711174,-73.996826,31453,Subscriber,1,76
299990,2018-09-05 19:08:26.2640,2018-09-05 19:44:53.7800,Columbus Ave & W 72 St,40.777057,-73.978985,Hudson St & Reade St,40.716250,-74.009106,26377,Subscriber,1,66

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [ ]:
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'])
bike_df['trip duration'] = bike_df['stoptime'] - bike_df['starttime'] 
display(bike_df['trip duration'])
display(bike_df)

0        0 days 00:27:15.365000
1        0 days 00:02:12.200000
2        0 days 00:55:37.898000
3        0 days 00:07:16.837000
4        0 days 02:20:57.993000
                  ...
299995   0 days 00:07:23.648000
299996   0 days 00:11:33.138000
299997   0 days 00:05:12.997000
299998   0 days 00:56:00.092000
299999   0 days 00:03:45.051000
Name: trip duration, Length: 300000, dtype: timedelta64[ns]

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,0 days 00:07:23.648000
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,0 days 00:11:33.138000
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,0 days 00:05:12.997000
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,0 days 00:56:00.092000
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,0 days 00:03:45.051000

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.