In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movie.zip')

In [3]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [8]:
rating = pd.read_csv('dst-3.0_mathml_14_5_rating.csv')

In [9]:
rating

          userId  movieId  rating            timestamp
0              1        2     3.5  2005-04-02 23:53:47
1              1       29     3.5  2005-04-02 23:31:16
2              1       32     3.5  2005-04-02 23:33:39
3              1       47     3.5  2005-04-02 23:32:07
4              1       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954     4.5  2009-11-13 15:42:00
20000259  138493    69526     4.5  2009-12-03 18:31:48
20000260  138493    69644     3.0  2009-12-07 18:10:57
20000261  138493    70286     5.0  2009-11-13 15:42:24
20000262  138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [10]:
df=pd.merge(rating, movies, how='left',on='movieId')
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,2005-04-02 23:31:16,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,2005-04-02 23:32:07,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,2005-04-02 23:29:40,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [11]:
df['title'].value_counts()

title
Pulp Fiction (1994)                 67310
Forrest Gump (1994)                 66172
Shawshank Redemption, The (1994)    63366
Silence of the Lambs, The (1991)    63299
Jurassic Park (1993)                59715
                                    ...
Richard III (1912)                      1
The Nautical Chart (2007)               1
Two Arabian Knights (1927)              1
Night Flight (1933)                     1
Série noire (1979)                      1
Name: count, Length: 26729, dtype: int64

In [22]:
rat = df.groupby('title')['rating'].mean().sort_values(ascending=False)

In [27]:
rat = rat[rat == 5]

In [29]:
rat.sort_index()

title
1971 (2014)                                       5.0
A Blank on the Map (1971)                         5.0
A Gun for Jennifer (1997)                         5.0
A Night for Dying Tigers (2010)                   5.0
Abendland (2011)                                  5.0
                                                 ...
Welcome to Australia (1999)                       5.0
When I Walk (2013)                                5.0
Who Killed Vincent Chin? (1987)                   5.0
Year Zero: The Silent Death of Cambodia (1979)    5.0
Yonkers Joe (2008)                                5.0
Name: rating, Length: 113, dtype: float64

In [35]:
# Подсчет количества оценок для каждого фильма
ratings_count = df['movieId'].value_counts()

# Фильтрация фильмов с количеством оценок более 50
popular_movies = ratings_count[ratings_count > 50]

In [36]:
popular_movies

movieId
296       67310
356       66172
318       63366
593       63299
480       59715
          ...
26299        51
8769         51
6520         51
112006       51
5701         51
Name: count, Length: 10473, dtype: int64

In [37]:
# Фильтрация фильмов с количеством оценок более 50
popular_movies = df['movieId'].value_counts()[df['movieId'].value_counts() > 50].index

# Вычисление среднего рейтинга для этих популярных фильмов
average_ratings = df[df['movieId'].isin(popular_movies)].groupby('movieId')['rating'].mean()

# Нахождение фильма с наивысшим средним рейтингом
top_movie_id = average_ratings.idxmax()
top_movie_title = movies[movies['movieId'] == top_movie_id]['title'].values[0]

# Вывод рекомендуемого фильма
print(f"Рекомендуемый фильм с наивысшим средним рейтингом среди фильмов, просмотренных более 50 раз: {top_movie_title}")

Рекомендуемый фильм с наивысшим средним рейтингом среди фильмов, просмотренных более 50 раз: Shawshank Redemption, The (1994)