In [7]:
import pandas as pd

realty_data = pd.read_csv('C:\VS Code\melb_data.csv', sep=',')
#display(realty_data.loc[15,['Price']])
#display(realty_data.loc[90,['Date']])
#display(realty_data.loc[3521,['Landsize']])
#display(realty_data.loc[1690,['Landsize']])
#display(realty_data.loc[3521,['Landsize']] / realty_data.loc[1690,['Landsize']])
display(realty_data.describe(include=['object']))

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [25]:
realty_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]
display(realty_data['Regionname'].value_counts())
display(realty_data['Regionname'].value_counts(normalize=True))

Regionname
Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: count, dtype: int64

Regionname
Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: proportion, dtype: float64

In [28]:
landsize_median = realty_data['BuildingArea'].median() 
landsize_mean =  realty_data['BuildingArea'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

0.09764079662364533