In [3]:
import pandas as pd
import numpy as np
import category_encoders as ce
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.metrics import matthews_corrcoef
import statistics
import os
import logging
from statsmodels.stats.anova import AnovaRM
import statsmodels.api as sm
from sklearn import preprocessing

%matplotlib inline
matplotlib.style.use('ggplot')
from sklearn import preprocessing

In [5]:
data = pd.read_csv('C:\VS Code/new-site/new-site.csv', sep='\t')
data.head()

   site  dwell-time
0     0           2
1     1          48
2     0          15
3     1          16
4     0          38

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   site        300 non-null    int64
 1   dwell-time  300 non-null    int64
dtypes: int64(2)
memory usage: 4.8 KB

In [8]:
data[data['site'] == 0].sum()

site              0
dwell-time    16898
dtype: int64

In [9]:
data[data['site'] == 1].sum()

site            114
dwell-time    10032
dtype: int64

In [10]:
data.describe()

             site  dwell-time
count  300.000000  300.000000
mean     0.380000   89.766667
std      0.486197  101.475794
min      0.000000    1.000000
25%      0.000000   24.000000
50%      0.000000   58.500000
75%      1.000000  122.250000
max      1.000000  725.000000

In [11]:
data[data['site'] == 1].describe()

        site  dwell-time
count  114.0  114.000000
mean     1.0   88.000000
std      0.0   96.805891
min      1.0    1.000000
25%      1.0   23.250000
50%      1.0   61.500000
75%      1.0  120.750000
max      1.0  725.000000

In [13]:
data[data['site'] == 0].describe()

        site  dwell-time
count  186.0  186.000000
mean     0.0   90.849462
std      0.0  104.477174
min      0.0    2.000000
25%      0.0   25.000000
50%      0.0   57.000000
75%      0.0  128.500000
max      0.0  571.000000

In [14]:
round(data[data['site'] == 0].mean())

site           0.0
dwell-time    91.0
dtype: float64

In [16]:
alpha = 0.05

In [17]:
# функция для принятия решения о нормальности
def decision_normality(p):
    print('p-value = {:.3f}'.format(p))
    if p <= alpha:
        print('p-значение меньше, чем заданный уровень значимости {:.2f}. Распределение отлично от нормального'.format(alpha))
    else:
        print('p-значение больше, чем заданный уровень значимости {:.2f}. Распределение является нормальным'.format(alpha))


# функция для принятия решения об отклонении нулевой гипотезы
def decision_hypothesis(p):
    print('p-value = {:.3f}'.format(p))
    if p <= alpha:
        print('p-значение меньше, чем заданный уровень значимости {:.2f}. Отвергаем нулевую гипотезу в пользу альтернативной.'.format(alpha))
    else:
        print('p-значение больше, чем заданный уровень значимости {:.2f}. У нас нет оснований отвергнуть нулевую гипотезу.'.format(alpha))

# функция о выводе информации равенстве или нет   дисперсий        
def equal_var(p):
    if p <= alpha:
        print('Дисперсии не одинаковы, в stats.ttest_ind нужно использовать параметр equal_var=False.')
    else:
        print('Дисперсии одинаковы, в stats.ttest_ind нужно использовать параметр equal_var=True.')

In [18]:
data[data['site'] == 0]['dwell-time']

0        2
2       15
4       38
6      571
8      233
      ...
294     39
295     22
296      7
298     89
299    138
Name: dwell-time, Length: 186, dtype: int64

In [19]:
result = stats.shapiro(data[data['site'] == 0]['dwell-time'])
decision_normality(result[1])

p-value = 0.000
p-значение меньше, чем заданный уровень значимости 0.05. Распределение отлично от нормального

In [20]:
result = stats.shapiro(data[data['site'] == 1]['dwell-time'])
decision_normality(result[1])

p-value = 0.000
p-значение меньше, чем заданный уровень значимости 0.05. Распределение отлично от нормального

In [21]:
_, p = stats.mannwhitneyu(data[data['site'] == 0]['dwell-time'], data[data['site'] == 1]['dwell-time'])
decision_hypothesis(p)

p-value = 0.896
p-значение больше, чем заданный уровень значимости 0.05. У нас нет оснований отвергнуть нулевую гипотезу.